[Desktop Entry]
Type=Application
Name=RoR
Comment="Open-source, soft-body physics sandbox"
Icon=rorlogo
Exec=RoR
Terminal=false
StartupWMClass=
Categories=Game;Racing;Sandbox;
